<head>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>


<center>
{% load i18n %}
{% load account socialaccount %}

{% block content %}

<h1>Sign In</h1>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
To continue please log in with facebook
<div class="socialaccount_ballot">

  <div class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}

{% endif %}

{% endblock %}
</center>
